{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>
<br><br><br>
<div class="container col-lg-10">
    <form method="post" class="form-inline float-right">
        {% csrf_token %}
        <input name="city" value="{{ request.POST.city }}" class="form-control mr-lg-3" type="text" placeholder="Type here...">
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <br><br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Country Name</th>
            <th>Country Code</th>
            <th>Coordinate</th>
            <th>Temperature</th>
        </tr>
        </thead>
        <tbody class="align-items-center">
        {% if country_code and coord_lon and coord_lat and temperature %}
            <tr>
                <td>{{ country_name }}</td>
                <td>{{ country_code }}</td>
                <td>{{ coord_lon }} <br> {{ coord_lat }}</td>
                <td>{{ temperature }}</td>
            </tr>
        {% endif %}

        </tbody>

    </table>
</div>

</body>
</html>